
/*
 * Table of contents   Содержание
 *
 *  0. General Vars, Mixins, Extends
 *  1. Header
 *  2. Menu main
 *  3. Slider
 *  4. 

 *  14.
 *
 */



@import "mwgrid";

@import 'fonts';   // 
@import 'svgfontstyle';   // 
@import 'mixins';     // 
@import 'base';     // 
//@import 'hexagon';    // 
//@import 'hexagon_bg';     // 
// @import 'phone';    // 
@import 'media';    // 
@import 'libs';     //

@import 'hamburgers/hamburgers';     //



/* 0. General Vars, Mixins, Extends
 *
 *
*/
.collapse{
    
    padding-left: 0; padding-right: 0;
    &>.row{
        margin-left: 0; margin-right: 0;    
        &>[class*="mv"]{
            padding-left: 0; padding-right: 0;
        }
    }
}

[class*=row].collapse{

    margin-left: 0; margin-right: 0;    
    &>[class*="mv"]{
        padding-left: 0; padding-right: 0;
    }
}

.g-title{
    line-height: $l_h;
    @include v_rhytm('item', $l_h);
    color: $grey;

}
.section{
    // margin-top: 2*$l_h;
}
.section__title{
    @include v_rhytm('section-title', $l_h) ;

    .h1, .h2, .h3{
        font-weight: 400;
    }
}
.section__block{
    @include v_rhytm('section-block', $l_h) ;
}

.container{
    min-width: 300px;
    // width: calc(100% - 20px);
}

/* 1. Header
 * **********************************************************************
 *  
*/

.header{

}
.header-top{
    background-color: $grey_light;
    background-color: opacify($grey_light, 0.50);
    background-color: $grey_lighter;
}

.menu-top-trigger{
    display: none;
    font-size: $fb;
    line-height: $l_h;
    padding: 0.25em $l_h*0.5;
    @extend %top_list_item_link;   

    &:active{
        color: $accent;
    }  
}  
.menu-top{
    // height: 2em;
    // background-color: opacify($grey_light, 1);

    @extend %clearfix;

    &>li{
        position: relative;
        float: left;
        line-height: $l_h;
        // padding: 0.25em $l_h*0.5;
        &:first-child{
            padding-left: 0;
        }
        &:hover > a{
            // background-color: $accent; 
            background-color: $accent_light; 
            color: #fff;
        }

        &>a{ padding: 0.25em $l_h*0.5;
            @extend %top_list_item_link;
            // display: block;
            // color: $text;
            // font-weight: 300;
            // font-size: $font_small;
            // // line-height: $l_h;
            // line-height: inherit;

            &:hover{
                color: $accent_dark;
                // text-decoration: underline;
                background-color: $accent;
                background-color: $accent_light;
                color: #fff;
            }            
        }

    }
}

.submenu-top{
    display: none;
    z-index: $zindex_nav;
    @extend %shadow;
    position: absolute; left: 0 ; //margin-top: 0.25em;
    min-width: 180px; max-width: 240px;
    padding: 0.5*$l_h 0;

    background-color: transparentize($white, 0.05);

    li{
        line-height: $l_h;
        padding: 0.25em $l_h*0.5*2;

        a{
            @extend %top_list_item_link;

            &:hover{
                color: $accent_dark;
            }            
        }

    }
}

.menu-top li:hover .submenu-top{
    display: block;
}

@media (max-width: #{map-get($devices, 'tb_')-1}px) {

.menu-top-trigger{
    display: block;

}    
.menu-top{
    display: none;
    @include pseudoelement_left_top(0, 0);
    z-index: $zindex_nav;
    top: 100%;
    width: 100%;
    width: 100vw;
    background-color: $grey_lighter;

    &>li{
        // position: relative;
        // float: left;
        // line-height: $l_h;
        width: 100%;
        &:active, &:hover,{
            background-color: $accent_light;
            color: $white;
        }

        &:first-child{
        }
        &:hover > a{
            background: none;
            // color: $grey_dark;
        }

        &>a{
            float: left;
            padding: 0.5*$l_h $l_h;
        }
        &.menu-item-has-children>a{
            position: relative;

            &:before{
                @include pseudoelement_right_top(0, 50%);
                transform: translate(0, -50%) rotate(90deg);                
                // @extend .themify;
                // @extend .themify-angle-right;  
                content: "\EA01";
                font-size: 0.5 * $fb;
                font-family: "themify";
            }


        }        

    }    

}

.submenu-top{
    // display: none;
    display: block;
    z-index: $zindex_nav;
    box-shadow: none;
    // position: absolute; left: 0 ; //margin-top: 0.25em;
    position: static;
    max-width: none;
    float: left; width: 100%;
    // padding-left: ;
    padding-left: $l_h*0.5*2;
    padding: 0 0 0 $l_h*0.5*2;
  
    // background-color: transparentize($white, 0.5);
    background-color: $grey_lighter;

    li{
        padding: 0;

        a{
            // @extend %top_list_item_link;
            // line-height: $l_h;
            // padding: 0.5em $l_h*0.5*2; // def
            padding: 0.5*$l_h $l_h; // menu-top
            border-left: 1px solid $grey_light;            
            &:hover{
                background-color: $accent_light;
                // color: $accent_dark;
                color: $white;
            }            
        }

    }
}
/* 
// Pligins integration
.menu-top{
    &>li{

        &.menu-item-has-children a:before{
            @include pseudoelement_right_top(0, 50%);
            transform: translateY(-50%);
            right: 0.5*$l_h;
            width: 2px;
            height: 2px;
            background-color: $grey;            
            border-radius: 50%;
            content: "";
        }
        &>a{
            float: left; clear: both;
            &:hover{
                color: $accent_dark;
            }            
        }

    }
}
 */
}  // media end


.users{
    float: right;
    line-height: $l_h;
    &__item{
        float: left;
        padding: 0.25em $l_h*0.5;
        @extend %top_list_item_link;

    &--account{
        padding-left: $l_h*1.25;
        position: relative;
/* 
        &:before{
            @include pseudoelement_left_top(0, 50%);
            transform: translateY(-50%);
            width: $fb;   
            height: $fb;   
            background-color: $grey;
        } */
    }
    &--wish{
        padding-left: $l_h*1.25;
        position: relative;
/* 
        &:before{
            @include pseudoelement_left_top(0, 50%);
            transform: translateY(-50%);
            width: $fb;   
            height: $fb;   
            // background-color: $grey;
        } */
    }

        &:hover{
            // color: $accent_dark;
            // // text-decoration: underline;
            // background-color: $accent;
            // color: #fff;
            color: $accent;
            i.users__item-icon{
                color: inherit;
            }
        }
    }

    i.users__item-icon{        
        @include pseudoelement_left_top(0, 50%);
        transform: translateY(-50%);
        font-size: 1 * $fb;
        color: $grey_dark;
    }

    &:hover &__form-outer{
        display: block;
    }
    &__form-outer{
        display: none;
        @include pseudoelement_left_top(0, 0%);
        @extend %shadow;
        z-index: $zindex_nav;
        top: 100%;
        width: 240px;
        padding: $l_h;
        background-color: $white;
    }
        &__form{
            @include v_rhytm('block', $l_h);
            // .field-outer,
            input, .button{
                @include v_rhytm('item', $l_h);
                max-width: none;
            }
        }
}

@media (max-width: #{map-get($devices, 'tb_')-1}px) {
.users{
    i.users__item-icon{        
        position: relative;
    }
    &__form-outer{
        left: auto; right: 0;
    }    
}

}  // media end

.logo{
    padding-bottom: $l_h;
    display: block;
    img{
        display: block;
        width: auto;
    }
}
@media (min-width: #{map-get($devices, 'mh_')}px) {
.logo{
    padding-bottom: 0;
}
} // media end





/* 
.header{
    width: 100%;
    height: 100px;
    background-color: $accent_dark;

    @include height_leveling('text');
}
.header-top{
// background-color: $accent_light;
height: 50px;
}
.header-bottom{
background-color: $grey_super_dark;
height: 50px;
}

.logo{
width: 100%;
background-color: #337722;
font-family: Roboto;
    img{
        width: auto; max-width: 100%; height: auto;
    }
}
 */

@media (max-width: 768px) {

    
} /* media end */

.header-bottom{
    position: relative;
    padding: $l_h 0;
}

.tools{
    justify-content: flex-end;

    &__item{  
        padding-left: 1.5 * $l_h;
        font-size: $fb;
        font-weight: 400;
        letter-spacing: $l_s;

        i.themify{        
            @include pseudoelement_left_top(0, 50%);
            transform: translateY(-50%);
            font-size: 2 * $fb;
            color: $black;
        }  

        &:hover{
            color: $accent_dark;
            i.themify{
               color: $accent_dark; 
            }
        }      
    }

    @media (min-width: #{map-get($devices, 'ds_')}px) {
       justify-content: flex-start;
    }    
}

.contacts{
    &__phone{
        padding-left: 0;
        padding-right: 0;
        a{
            color: $black;
            &:hover{
                color: $accent_dark;
            }
        }
    }
}
.cart{
    &__title{
        padding-left: 0;
        padding-right: 0;
    }
    &__counter{
        display: inline-block;
        width:  $l_h;
        height:  $l_h;
        border-radius: 50%;
        background-color: $grey_lighter;
        font-size: $fb;
        line-height: $l_h;
        text-align: center;
    }
}

.search-trigger{
    text-align: center;
    i.themify{
        position: relative;
        font-size: $font_h4;
        font-size: 2 * $fb;
        z-index: $zindex_icon;
    }  
}
.search{
    display: none;
}
.search-modal{
    
    @extend %shadow;
    position: absolute;
    left: 0; top: 0;
    z-index: $zindex_modal;

    width: 100%;
    height: 100%;
    background-color: $white;
display: none;
    &.active{
        display: flex!important;
        align-items: center;    
    }
    .container{        
        display: flex;
        justify-content: center; 
        width: 100%;      
    }
    .search{
        width: calc(100% - 60px);
    }
    &-close{
        float: right;
        position: relative;        
        width: 40px;
        height: 40px;
        color: $black;
        cursor: pointer;
        i.themify{
            @include pseudoelement_left_top(50%, 50%);
            transform: translate(-50%, -50%);
            // font-size: 3 * $fb;
            // color: $accent_dark;

            font-size: $font_h4;
            color: inherit;
        }
        &:hover{
            color: $accent_dark;
        }
    }
}
@media (min-width: #{map-get($devices, 'tb_')}px) {
.search-trigger{
    display: none;
}
.search{
    display: block;
}
.search-modal{
    display: none;
}
} // media


/* 2. Menu main
 * **********************************************************************
 *
*/  

.menu-main-outer{
    background-color: $accent;
    // height: 48px;
    margin-bottom: $l_h;
}
.menu-control{
    display: none;
}
.menu-main-trigger{
    @extend .dropdown;
    float: left!important;

}
.menu-main{
    float: left;
    width: 100%;
    border-right: 1px solid $accent_light;
}
    .menu-main > li{
        // display: inline-block;
        float: left;
                
        &:last-child{
            margin-right: 0;
        }
        >a{
            display: block;
            padding: 0.75em 2em;
            border-left: 1px solid $accent_light;
            font-size: $fb; line-height: $l_h;
            letter-spacing: $l_s;
            color: $white;
            transition: all 0.3s;         

            &:hover{
                background-color: $accent_light;
            }
        }
    }

/* megamenu */
        .submenu{
            @extend %shadow;
        }
@media (min-width: #{map-get($devices, 'tb_')}px) {
        .submenu{
            display: none;
            z-index: $zindex_nav;
            position: relative;
            position: absolute; left: $columns_gap+px;
            width: 100%;
            width: calc(100% - 2 * #{$columns_gap+px});

            padding: $l_h 1.5 * $l_h;
            background-color: $white;
        }
        .menu-main>li:hover>.submenu{
            display: block!important;
        }
            .submenu>li{
                position: relative;
                float: left;
                width: 33%;
                // padding-left: 96px;
                padding-left: 104px;
                // border-left: 1px solid $accent_light;
                // background-color: #eee;

                /*temp*/
                // height: 100px;
                /* 
                &:after{
                    position: absolute; left : 0; top : 0;
                    width: 64px;
                    height: 64px;
                    background-color: #ccc;
                }                  
                */
                
                >a{
                    @include v_rhytm('text', $l_h);
                    margin-top: 0;
                    display: inline-block;
                    font-size: $font_h4;
                    line-height: $l_h;
                    font-weight: 500;
                    letter-spacing: $l_s_big;
                    color: $text;
                }
                .submenu__item-image{
                    position: absolute; left : 0; top : 0;
                    // width: 64px;
                    // height: 64px;
                    width: 80px;
                    height: 80px;                    
                    padding: 8px;
                    display: flex; align-items: center; 
                    border: 1px solid $grey_lighter;
                }
            }

                .sub-submenu{
                    li{
                        font-size: $font_h4;
                        line-height: $l_h;
                        a{
                            font-size: $fb;
                            font-weight: 400;
                            color: $text;
                            &:hover{
                                color: $accent_dark;
                            }
                        }
                    }
                }
} // media                
  
.dropdown{
            padding: $l_h/2+0.75em $l_h/2+0.75em ;
            border-left: 1px solid $accent_light;
            font-size: $fb; line-height: $l_h;
            color: $white;
            transition: all 0.3s;
            position: relative;

            &:before{
                @include pseudoelement_left_top(50%, 50%);
                transform: translate(-50%, -50%);
                content: "\EA0C";
                font-family: "themify";
            }

    display: none;
    // width: 48px;
    // height: 48px;
    // line-height: 48px;
    background-color: $accent_light;

}       
.dropdown{
    position: relative;
    float: right;

    &.visible{
        display: block;
    }
    &__list{
        display: none;
        
        @include pseudoelement_right_top(0, 100%);
        z-index: $zindex_nav;
        width: 300px;
        background-color: $accent_light;

        &>li{
            &>a{
            display: block;
            padding: 0.75em 2em;
            border-left: 1px solid $accent_light;
            font-size: $fb; line-height: $l_h;
            letter-spacing: $l_s;
            color: $white;
            transition: all 0.3s; 
                &:hover{
                    background-color: $accent;
                }
            }
        }

    }
    // &:hover{
    //     &__list{
    //         display: block;
    //     }
    // }
}
.dropdown:hover{
    .dropdown__list{
        display: block;
    }
}
/*
// использование responsive-menu как mobile-menu
@media (max-width: #{map-get($devices, 'tb_')-1}px) {
.menu-main{
    border-left: 1px solid $accent_light;
    border: none;
}   
.dropdown{
    float: none;
    margin: 0 auto;
    width: 90%;
    // width: 30%;
    background-color: $accent;
    border: none;
   &__list{
        width: 100%;
   }    
}
} // media
*/

@media (max-width: #{map-get($devices, 'tb_')-1}px) {

.menu-main-trigger{
    display: block;
}
.menu-main{
    display: none;
    position: absolute;
    left: 0; top: 100%;
    width: 100%;
    z-index: $zindex_nav; 

    background-color: $accent;

    li{
        float: left; width: 100%;

        a{
            background-color: $accent;
            // color: $accent;

            display: block;
            padding: 0.75em 2em;
            border-left: 1px solid $accent_light;
            font-size: $fb; line-height: $l_h;
            letter-spacing: $l_s;
            color: $white;
            transition: all 0.3s; 

            &:hover, &:active{
                background-color: $accent_light;
            } 
        }

        ul, img{
            // display: none;
            padding-left: 2em;
        }
        img{
            display: none;
        }
    }
}

}

/* 3. Slider
 * **********************************************************************
 *
*/  

.slider-outer,
.section-slider{

    .slider{
        width: 100%; 
        // height: 100vh;
        height: 414px;
    }
}
/* 
.iconfont:before {
    font-family: "myfont";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; only necessary if not using the private unicode range (firstGlyph option) 
    text-decoration: none;
    text-transform: none;

    // content: "/uEA0A" ;
    content: "\EA01" ;
}

 */


/* Font icons */


/* 4. edges
 * **********************************************************************
 *  
*/

.edges{
        // background-color: transparentize($grey, 0.75);
        // margin-top: -0.5 * $l_h;
        // margin-bottom: -0.5 * $l_h; // перевести в пиксели

        &-outer{
            // margin-top: -12px;
            // margin-bottom: -12px;
            @include v_rhytm('block', $l_h);
        }

    &__item{
        position: relative;
        font-size: 1*$fb;
        @include v_rhytm('item', $l_h);
        padding-left: 30%; 
        padding-right: 20%;
        // background-color: transparentize($accent, 0.75);
        padding-left: 2 * $fb + $fb;

        &-icon{
            // position: absolute;
            @include pseudoelement_left_top(0, 50%);
            transform: translateY(-50%);

            width: 30%;
            width: auto;
            font-size: $fb;
            // width: 2*$fb;
            // height: 2*$fb;
            // background-color: $grey;

            color: $grey_dark;

            .themify{
                @include pseudoelement_left_top(50%, 50%);
                transform: translate(-50%, -50%);

                width: 30%;
                font-size: 2 * $fb;
            }
        }
        &-text{
            font-size: $fb;
            color: $grey;
        }
    }
}

@media (min-width: #{map-get($devices, 'tb_')}px) {
.edges{

    &__item{
        padding-left: 30%;
        border-right: 1px solid $grey_super_light;

        &-icon{
            width: 30%;
        }
    }
    &>div:last-child>&__item{
        border: none;
    }
}
}  // media end


/* 6. actions
 * **********************************************************************
 *  
*/

.actions{

    &__item{
        // @extend %clearfix;

        @include v_rhytm('item', $l_h);
        $actions_padding_vertical: $fb;
        margin-left: 0; margin-right: 0;
        flex-direction: column-reverse;        

        @media (min-width: #{map-get($devices, 'mh_')}px) {
           flex-direction: row;
        }

        &-content{
            // @extend %fullheight;
            position: relative;
            float: left;
            width: 100%;
            padding:  $actions_padding_vertical 1*$l_h;
            background-color: $grey_light;

            @media (min-width: #{map-get($devices, 'mh_')}px) {
                width: 50%;
            }
        }
        &-title{
            @include height_leveling('heading');
            @include v_rhytm('text', $l_h);
            font-weight: 300;
            color: $text;
            letter-spacing: $l_s;
        }
        &-subtitle{
            @include height_leveling('text');
            @include v_rhytm('text', $l_h);
            color: $text;
            letter-spacing: $l_s;
        }
        &-promocode{            
            @include height_leveling('text');
            @include v_rhytm('text', $l_h);
            font-size: $font_h4;
            font-weight: 500;
            letter-spacing: $l_s;
            color: $accent_dark;
        }
        &-link-outer{
            margin-bottom: $actions_padding_vertical;
            font-size: $font_small;
            text-transform: lowercase;
            letter-spacing: $l_s;

            @media (min-width: #{map-get($devices, 'mh_')}px) {
                position: absolute;
                bottom: 0;
            }
        }
        &-link{             
            @extend %link_decor;
            @extend %link_with_icon;
            padding-right: $fb*1;            
            color: $text; 
        }

        &-image{
            float: left;
            width: 100%;
            @media (min-width: #{map-get($devices, 'mh_')}px) {
                width: 50%;
            }            
        }                    
    }

}


/* 5. categories
 * **********************************************************************
 *  
*/

@function generate-pallete-color($main_color, $deg) {
    
    $generated_color: adjust-hue($main_color, $deg);
    
    @return $generated_color;
}

@mixin categories_hover_gradient_effect($color_first, $color_second) {

    // background: $color_first;
    // background: linear-gradient(to right, $color_first, $color_second );
    background: none;

    &:before{
        @include pseudoelement_left_top(0, 0);
        width: 100%; height: 100%;
        background: linear-gradient(to right, $color_first, $color_first );
        transition: all 0.3s ease-in-out;
        margin-left: -100%;
        //
        width: 200%;
        margin-left: -100%;
        background: linear-gradient(to right, $color_first 0%, $color_first 50%, $color_second 100% );
    }
    &:hover,
    &.hover{

        // background-position: 100% 0;
        &:before{
            // margin-left: 0;
            margin-left: 0%;
        }
    }
    &:hover .categories__item-title{    
        color: $color_first;
    } 

}

.categories{
    

    &-outer{
        @include v_rhytm('block-card', $l_h);
    }

    &__item{
        @include v_rhytm('card', $l_h);
        position: relative;
        overflow: hidden;
        padding: $l_h $l_h;
        background-color: $accent;

        $categories_padding_horizontal: 0.75 * $fb;

        // @include hover_gradient_effect($accent, $accent_dark);
        // @include categories_hover_gradient_effect($accent, transparentize($accent, 0.5));


        &-title-outer{
            @include v_rhytm('text', $l_h);
            margin-top: 0;
            position: relative;
        }
        &-title{
            @include height_leveling('heading_bg');
            // @include v_rhytm('text', $l_h); 
            // margin-bottom: 0.5em;

            padding-left: $categories_padding_horizontal;
            padding-right: $categories_padding_horizontal;
            display: inline-block;
            background-color: transparentize($white, 0.5);
            letter-spacing: $l_s_big;
            color: $text;            
            transition: all, 0.3s;          
        }

        &-link-outer{
            @include v_rhytm('text', $l_h);
            font-size: $font_small;
            text-transform: lowercase;
            letter-spacing: $l_s;   

            padding-left: $categories_padding_horizontal;
            padding-right: $categories_padding_horizontal;
        }            
        &-link{
            @extend %link_decor;
            @extend %link_with_icon;  
            padding-right: $fb*1;            
            color: transparentize($white, 0.25);
            transition: all, 0.3s;

            &:hover{
                color: transparentize($white, 0.0);
                i.themify{
                    transition: all, 0.3s;
                    right: -4px;
                }
            }          
        }
        &-image{
            position: absolute;
            top: 0; right: 0;
            margin-top: 1 * $l_h;
            margin-right: 1 * $l_h;
        } 

        $hue_ratio: 30;
        $hue_steps: 360 / $hue_ratio;
        // @for $i from 1 through $hue_steps {


        //     &-#{$i} {
        //         @include pallete_colors($accent, $i * $hue_ratio );
        //     }
        // }

        @for $i from 1 through $hue_steps {


            &-#{$i} {
                // @include pallete_colors($accent, $i * $hue_ratio );
                // @include categories_hover_gradient_effect($accent, transparentize($accent, 0.5));

                $current_color: generate-pallete-color($accent, $i * $hue_ratio);

                @include categories_hover_gradient_effect( $current_color, transparentize($current_color, 0.25)

                    // generate-pallete-color($accent, $i * $hue_ratio), 
                    // transparentize(generate-pallete-color($accent, $i * $hue_ratio), 0.25)
                );

            }
        }
        

    }
}

@media (max-width: #{map-get($devices, 'tb_')}px) {
.categories{
        &-outer{
            // @include v_rhytm('block-card', 0);
            margin: 0;
        }

        &__item{
            margin: 0;
            height: 70px;
        }      
    }
} // media end

.pallete_color{

        $hue_ratio: 30;
        $hue_steps: 360 / $hue_ratio;
        @for $i from 1 through $hue_steps {

            &-#{$i} {
                @include pallete_colors($accent, $i * $hue_ratio );
            }
        } 
}
.pallete_color-dark{

        $hue_ratio: 30;
        $hue_steps: 360 / $hue_ratio;
        @for $i from 1 through $hue_steps {

            &-#{$i} {
                @include pallete_colors($accent_dark, $i * $hue_ratio );
            }
        } 
}


/* 7. products
 * **********************************************************************
 *  
*/

.products-grid{
    @include v_rhytm('block-card', $l_h);
}

.product-outer{
    @include v_rhytm('card', $l_h); 
    &.ds_3{
        border-right: 1px solid $grey_super_light;
        &:last-child{
            border-right: none;
        }
    }
}
.owl-item{
    .product-outer{
        width: 100%; 
    }
    &.active{
        .product-outer{
            border-right: 1px solid $grey_super_light;
        }
        &:last-child{
            .product-outer{
               border: none;
            }        
        }
    }
    
}
.product{
  
    padding-left: $columns_gap+px;
    padding-right: $columns_gap+px;

    &__image{        
        display: flex;
        justify-content: center; align-items: center;
        height: 220px;
        // border: 1px solid #ccc;

        img{
            width: auto; max-width: 80%; max-height: 80%;
        }
        &:hover{
            opacity: 0.85;
        }
    }
    &__content{

    }
    &__title-outer{
        // display: flex; 
        // display: inline-block;
    }
        &__title{
            @include height_leveling('heading');
            @include v_rhytm('text', $l_h);            
            font-size: $font_h4;
            font-weight: 400;
            color: $text;
            display: block;

            &:hover{
                color: $accent_dark;
            }
        }   

    &__parameters{
        &-list{
            @include height_leveling('text');            
            @include v_rhytm('text', $l_h);
            font-size: $fb;

            li{
                font-size: inherit;
                color: $grey_dark;
                
                &:before{
                    content: "";
                    margin: 0 0.5em;
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background-color: $grey_light;
                    display: inline-block; vertical-align: middle;
                }

            }
        }
    }   

    &__code{
        @include height_leveling('text');            
        @include v_rhytm('text', $l_h);        
        font-size: $font_small;
        font-size: $font_smaller;
        font-weight: 400;
        color: $text;

        &-value{
            font-weight: 300;
        }
    } 

    &__price{
        @include height_leveling('text');            
        @include v_rhytm('text', $l_h);         
        font-size: $font_h4;
        font-weight: bold;
        color: $text;
    }

    &__availability{
        @include height_leveling('text');            
        @include v_rhytm('text', $l_h);        
        font-size: $font_small;
        font-weight: 400;
        color: $text;

        &-value{
            font-weight: 500;

            &--in-stock{
                color: $accent_dark;
            }
            &--awaiting{
                color: $warning_color;
            }
            &--none{
                color: $error_color;
            }
        }
    }
}

.product--viewed{

    .product__price-outer{
        float: left;
    }
    .product__button-outer{
        float: right;
    }
}

/* 8. news
 * **********************************************************************
 *  
*/

.news{

    &-outer{
        @include v_rhytm('block', $l_h);
    }

    &__item{
        @include v_rhytm('item', $l_h);

        &-image-outer{

        }
        &-image{
            img{

            }
        }

        &-content{

        }
            &-title-outer{

                // @include height_leveling('heading');
                @include height_leveling('heading_double');
                // @include height_leveling('text');
                @include v_rhytm('text', $l_h);
                font-size: $font_h3;                
                font-size: $font_h4;                
                font-weight: 300;
                letter-spacing: $l_s;                
                color: $text;                 
            }            
            &-title{
                color: $text;
            }
            &-text{
                @include v_rhytm('text', $l_h);
                font-size: $fb;
                line-height: $l_h;
            }        

        &-footer{
            display: flex;
            justify-content: space-between;
            padding: 0.5 * $l_h 0;
            border-top: 1px solid $grey_light;
        }   
            &-link-outer{
                float: left;
                font-size: $font_small;
                line-height: $l_h;
                text-transform: lowercase;
                letter-spacing: $l_s_big;
            }
            
            &-link{                
                padding-right: $fb*1;            
                color: $text;  
                @extend %link_decor;
                @extend %link_with_icon;
            }
            &-date{
                align-self : flex-end;
                float: right;
                font-size: $font_small;
                line-height: $l_h;
                color: $text; 
            }
    }

}


/* 9. about
 * **********************************************************************
 *  
*/

.about{
    
    &__image{

        img{

        }
    }
    &__content{
    }
        &__title{
            @include height_leveling('heading');
            @include v_rhytm('text', $l_h);
            margin-top: 0;
            font-size: $font_h3;
            font-weight: 300;
            letter-spacing: $l_s;            
            color: $text;
        }
        &__text{

        }    
}


/* 10. subscribe
 * **********************************************************************
 *  
*/
  
.section-subscribe{
    background-color: $accent;
    padding: 1.5 * $l_h 0;
} 

.subscribe{
    
    &__title{
        font-size: $font_h4;
        line-height: $l_h;
        font-weight: 500;
        color: $accent_dark;

        // padding-left: $l_h*1.25;
        padding-left: $fb*(3+1);
        position: relative;

        // &:before{
        //     @include pseudoelement_left_top(0, 50%);
        //     transform: translateY(-50%);
        //     width: $fb;   
        //     height: $fb;   
        //     background-color: $grey;
        // }  
        
        i.themify{        
            @include pseudoelement_left_top(0, 50%);
            transform: translateY(-50%);
            font-size: 3 * $fb;
            color: $accent_dark;
        }
    }
    &__form{


        .field-outer{
            // display: inline-block;       
            padding-left: $columns_gap+px;
            padding-right: $columns_gap+px;

            margin: $l_h auto;
            float: none;
            @media (min-width: #{map-get($devices, 'ds_')}px) {

                float: left;
            }             
        }
    }
    &__social{
       // float: right;
        margin: 0 auto; 
        display: flex;
        justify-content: center;
        margin-top: 1 * $l_h;

        @media (min-width: #{map-get($devices, 'ds_')}px) {
            margin-top: 0;
            display: block;
            float: right;
        }        
    }    
}

.form--subscribe{

    input.field-text{
        border-color: $accent_dark;
    }
}
 


/* 11. social-links
 * **********************************************************************
 *  
*/

.social-links{
    li{
        display: inline-block;

        a{
            display: block;
            margin: 0.5 * $fb;
            font-size: $fb;
            line-height: $l_h;
            width: 2 * $fb;
            height: 2 * $fb;
            background-color: $accent_dark;
            border-radius: 50%;
        }
    }
}


/* 12. footer
 * **********************************************************************
 *  
*/

.footer{
    padding-top: 2*$l_h;
    background-color: $grey_lighter;
}

.footer{

    &__column{
        margin-bottom: 2 * $l_h;
    }
    &__item{

    }
    &__contacts-outer{
         order: 2;
        // media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        // @media (min-width: #{map-get($devices, 'mh_')}px) {
        @media  (min-width :#{ map-get($devices, 'ds_')}px ) {
            order: 0;
        }        
    }
    &__contacts{

    }
    &__menu{
        
    }
    &__blog-outer{
        order: 3;
    }
    &__blog{

    }
    &__title{
        font-size: $fb;
        // line-height: $l_h;
        font-weight: 400;
        color: $grey_dark;
        letter-spacing: $l_s_big; 

        @include height_leveling('text');
        @include v_rhytm('text', $l_h);  

        i.themify{
            display: none;
        }
    }

    &-bottom{
        padding: 0.5 * $l_h;
        border: 1px solid $grey_light;
    }


}

.contacts{

    &__title{

    }

    &__item{
        @include v_rhytm('text', $l_h); 
        font-size: 14px;
        color: $grey_dark;

        &-title{
            @include height_leveling('text');
            // @include v_rhytm('text', $l_h);             
            font-size: $font_small; font-size: 14px;
            font-weight: 400;
            letter-spacing: $l_s_big; 

        }
        &-text{
            @include height_leveling('text');
            // @include v_rhytm('text', $l_h);             
            font-size: $font_small; font-size: 14px;   
            font-weight: 300;

            a{
                color: $grey_dark;
                &:hover{
                    color: $accent_dark;
                }
            }
        }        
    }
}

.menu-footer{
    &__title{

    }
    &__list{
        
    } 
    &__item{
        font-size: $font_small;
        // line-height: $l_h;
        line-height: $fb * strip-unit($l_h);
        // @include height_leveling('text');
        font-weight: 100;
        a{
            color: $grey_dark;
            &:hover{
                color: $accent_dark;
            }
        }
    }  
}

.blog-footer{
    &__item{
        // display: flex;
        // align-items: center;
        // font-size: 0;
        @include v_rhytm('item', $l_h); 

        &-image{            
            display: inline-block; vertical-align: middle;
            width: 100px!important;
            margin-right: $l_h;
            font-size: $fb;
            img{

            }
        }
        &-conent{
            display: inline-block; vertical-align: middle;
            width: calc(100% - 104px - #{$l_h});
            // flex-grow: 0;
            font-size: $fb;            
        }     
            &-title{                
                // @include v_rhytm('text', 1.2em); 
                margin-bottom: 0.5em;
                font-size: $font_small;
                line-height: auto;
                font-weight: 100;    
                color: $grey_dark;
                &:hover{
                    color: $accent_dark;
                }
            }
            &-date{                
                font-size: $font_small;
                line-height: auto;
                font-weight: 100;    
                color: $grey_dark;
            } 
    }
}

.copyrights{
    @include height_leveling('text');
    @include v_rhytm('text', $l_h);     
    font-size: $font_small;
    font-weight: 100;
    color: $grey_dark;
}


/* Plugins integration */
@media (max-width: #{map-get($devices, 'tb_')-1}px) {
.footer{
    &__column{
        margin-bottom: 1 * $l_h;
    }    
    &__title{
        &.js-accordeon__title{
            position: relative;
            border-bottom: 1px solid $grey_light;
            cursor: pointer;
            i.themify{      
                @include pseudoelement_right_top(0, 50%);
                transform: translateY(-50%);
                font-size: inherit;
                color: inherit;
                display: block;
                content: "\EA0D";       
            }
            &.opened{
                i.themify:before{     
                    content: "\EA0C";
                }
            }
        } 
    }
}
} // media

/* A. Plugins
 * **********************************************************************
 *  
*/

body .owl-carousel{
    // overflow: hidden;

    .owl-stage-outer{
        width: 100%;
    }
}

body .owl-carousel .owl-item img {
    width: auto;
}

body .owl-carousel .owl-nav{
    position: absolute;
    top: 50%; left: 0;
    width: 100%; 
    
    button.owl-prev,
    button.owl-next{
        position: absolute;
        top: 50%;
        font-size: 0;

        span{ 
            @extend .themify;           
            // font-size: 0;
            color: transparent;
        }    

        &.owl-prev{
            left: 0;
            transform: translateX(-100%);
            span:before {
                @extend .themify-angle-right;
                transform: rotate(180deg);
                font-size: 3 * $fb;
                color: $grey;
            }
        }        
        &.owl-next{
            right: 0;
            transform: translateX(100%);
            span:before {
                @extend .themify-angle-right;
                font-size: 3 * $fb;
                color: $grey;
            }
            
        }
        &:hover span:before{
            color: $accent_dark;
        }
    }

}

// body .owl-carousel .owl-stage>.active{  // Работает
// body .owl-carousel .owl-stage>.active:last-child{
// body .owl-carousel .owl-stage>.active:last-of-type{
// body .owl-carousel .owl-stage>div:last-of-type.active{
body .owl-carousel .owl-stage>.active:nth-child(4){  // считает все слайды, не учитывая .active
    background-color: #ccc;
}