
/*
 * Table of contents   Содержание
 *
 *  0. General Vars, Mixins, Extends
 *  1. Header
 *  2. Menu main
 *  3. Slider
 *  4. 

 *  14.
 *
 */



@import "mwgrid";

@import 'fonts';   // 
@import 'svgfontstyle';   // 
@import 'mixins';     // 
@import 'base';     // 
//@import 'hexagon';    // 
//@import 'hexagon_bg';     // 
// @import 'phone';    // 
@import 'media';    // 
@import 'libs';     //

@import 'hamburgers/hamburgers';     //



/* 0. General Vars, Mixins, Extends
 *
 *
*/
.collapse{
    
    padding-left: 0; padding-right: 0;
    &>.row{
        margin-left: 0; margin-right: 0;    
        &>[class*="mv"]{
            padding-left: 0; padding-right: 0;
        }
    }
}

[class*=row].collapse{

    margin-left: 0; margin-right: 0;    
    &>[class*="mv"]{
        padding-left: 0; padding-right: 0;
    }
}

.g-title{
    line-height: $l_h;
    @include v_rhytm('item', $l_h);
    color: $grey;

}

/* 1. Header
 * **********************************************************************
 *  
*/

.header{

}
.header-top{
    background-color: $grey_light;
    background-color: opacify($grey_light, 0.50);
}

.menu-top{
    // height: 2em;
    // background-color: opacify($grey_light, 1);

    @extend %clearfix;

    &>li{
        position: relative;
        float: left;
        line-height: $l_h;
        // padding: 0.25em $l_h*0.5;
        &:first-child{
            padding-left: 0;
        }
        &:hover > a{
            background-color: $accent; 
            color: #fff;
        }

        &>a{ padding: 0.25em $l_h*0.5;
            @extend %top_list_item_link;
            // display: block;
            // color: $text;
            // font-weight: 300;
            // font-size: $font_small;
            // // line-height: $l_h;
            // line-height: inherit;

            &:hover{
                color: $accent_dark;
                // text-decoration: underline;
                background-color: $accent;
                color: #fff;
            }            
        }

    }
}

.submenu-top{
    display: none;
    z-index: $zindex_nav;
    @extend %shadow;
    position: absolute;
    left: 0 ; //margin-top: 0.25em;
    min-width: 180px; max-width: 240px;
    padding: 0.5*$l_h 0;

    li{

        line-height: $l_h;
        padding: 0.25em $l_h*0.5*2;

        a{
            @extend %top_list_item_link;

            &:hover{
                color: $accent_dark;
                // text-decoration: underline;
            }            
        }

    }
}

.menu-top li:hover .submenu-top{
    display: block;
}

.users{
    float: right;
    line-height: $l_h;
    &__item{
        float: left;
        padding: 0.25em $l_h*0.5;
        @extend %top_list_item_link;

    &--account{
        padding-left: $l_h*1.25;
        position: relative;

        &:before{
            @include pseudoelement_left_top(0, 50%);
            transform: translateY(-50%);
            width: $fb;   
            height: $fb;   
            background-color: $grey;
        }
    }
    &--wish{
        padding-left: $l_h*1.25;
        position: relative;

        &:before{
            @include pseudoelement_left_top(0, 50%);
            transform: translateY(-50%);
            width: $fb;   
            height: $fb;   
            // background-color: $grey;
        }
    }

        &:hover{
            // color: $accent_dark;
            // // text-decoration: underline;
            background-color: $accent;
            color: #fff;
        }
    }

    i.users__item-icon{        
        @include pseudoelement_left_top(0, 50%);
        transform: translateY(-50%);
        font-size: 1 * $fb;
        color: $grey_dark;
    }


}








/* 
.header{
    width: 100%;
    height: 100px;
    background-color: $accent_dark;

    @include height_leveling('text');
}
.header-top{
// background-color: $accent_light;
height: 50px;
}
.header-bottom{
background-color: $grey_super_dark;
height: 50px;
}

.logo{
width: 100%;
background-color: #337722;
font-family: Roboto;
    img{
        width: auto; max-width: 100%; height: auto;
    }
}
 */

@media (max-width: 768px) {
   
    
} /* media end */



/* 2. Menu main
 * **********************************************************************
 *
*/  

.menu-main-outer{
}
.menu-control{
    display: none;
}
.menu-main{
}
    .menu-main li{
        display: inline-block;
        
        &:last-child{
            margin-right: 0;
        }
        a{
            display: block;

            &:hover{

            }
        }
    }




/* 3. Slider
 * **********************************************************************
 *
*/  

.slider-outer,
.section-slider{

    .slider{
        width: 100%; 
        // height: 100vh;
    }
}
/* 
.iconfont:before {
    font-family: "myfont";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; only necessary if not using the private unicode range (firstGlyph option) 
    text-decoration: none;
    text-transform: none;

    // content: "/uEA0A" ;
    content: "\EA01" ;
}

 */


/* Font icons */


/* 4. edges
 * **********************************************************************
 *  
*/

.edges{
        background-color: transparentize($grey, 0.75);
        margin-top: -0.5 * $l_h;
        margin-bottom: -0.5 * $l_h; // перевести в пиксели

    &__item{
        position: relative;
        font-size: 1*$fb;
        margin: 0.5 * $l_h 0;
        padding-left: 30%; 
        padding-right: 20%;
        background-color: transparentize($accent, 0.75);


        &-icon{
            // position: absolute;
            @include pseudoelement_left_top(0, 50%);
            transform: translateY(-50%);

            width: 30%;
            font-size: $fb;
            // width: 2*$fb;
            // height: 2*$fb;
            // background-color: $grey;

            color: $grey_dark;        


            .themify{
                @include pseudoelement_left_top(50%, 50%);
                transform: translate(-50%, -50%);

                width: 30%;
                font-size: 2 * $fb;
            }
        }
        &-text{
            font-size: $fb;
            color: $grey;
        }
    }


}


/* 6. actions
 * **********************************************************************
 *  
*/

.actions{

    &__item{
        // @extend %clearfix;
        $actions_padding_vertical: $fb;
        flex-direction: column-reverse;
        @include v_rhytm('item', $l_h);

        @media (min-width: #{map-get($devices, 'mh_')}px) {
           flex-direction: row;
        }

        &-content{
            // @extend %fullheight;
            position: relative;
            float: left;
            // width: 50%; 
            width: 100%;
            padding:  $actions_padding_vertical 1*$l_h;
            background-color: $grey_light;

            @media (min-width: #{map-get($devices, 'mh_')}px) {
                width: 50%;
            }

        }
        &-title{
            @include height_leveling('heading');
            @include v_rhytm('text', $l_h);
            font-weight: 300;
            color: $text;
            letter-spacing: $l_s;
        }
        &-subtitle{
            @include height_leveling('text');
            @include v_rhytm('text', $l_h);
            color: $text;
            letter-spacing: $l_s;
        }
        &-promocode{            
            @include height_leveling('text');
            @include v_rhytm('text', $l_h);
            font-size: $font_h4;
            font-weight: 500;
            letter-spacing: $l_s;
            color: $accent_dark;
        }
        &-link-outer{
            position: absolute;
            bottom: 0; margin-bottom: $actions_padding_vertical;

            font-size: $font_small;
            text-transform: lowercase;
            letter-spacing: $l_s;
        }
        &-link{
            
            padding-right: $fb*1;            
            color: $text;  
            @extend %link_decor;
            @extend %link_with_icon;
        }

        &-image{
            float: left;
            width: 100%;
            @media (min-width: #{map-get($devices, 'mh_')}px) {
                width: 50%;
            }            
        }                    
    }

}


/* 5. categories
 * **********************************************************************
 *  
*/

@function generate-pallete-color($main_color, $deg) {
    
    $generated_color: adjust-hue($main_color, $deg);
    
    @return $generated_color;
}

@mixin categories_hover_gradient_effect($color_first, $color_second) {

    // background: $color_first;
    // background: linear-gradient(to right, $color_first, $color_second );
    background: none;

    &:before{
        @include pseudoelement_left_top(0, 0);
        width: 100%; height: 100%;
        background: linear-gradient(to right, $color_first, $color_first );
        transition: all 0.3s ease-in-out;
        margin-left: -100%;
        //
        width: 200%;
        margin-left: -100%;
        background: linear-gradient(to right, $color_first 0%, $color_first 50%, $color_second 100% );
    }
    &:hover,
    &.hover{

        // background-position: 100% 0;
        &:before{
            // margin-left: 0;
            margin-left: 0%;
        }
    }    

}

.categories{
    @include v_rhytm('block', $l_h);

    &-inner{

    }

    &__item{
        @include v_rhytm('card', $l_h);
        position: relative;
        overflow: hidden;
        padding: $l_h $l_h;
        background-color: $accent;

        $categories_padding_horizontal: 0.75 * $fb;

        // @include hover_gradient_effect($accent, $accent_dark);
        // @include categories_hover_gradient_effect($accent, transparentize($accent, 0.5));


        &-title-outer{
            @include v_rhytm('text', $l_h);
            margin-top: 0;
            position: relative;
        }
        &-title{
            @include height_leveling('heading_bg');
            // @include v_rhytm('text', $l_h); 
            // margin-bottom: 0.5em;

            padding-left: $categories_padding_horizontal;
            padding-right: $categories_padding_horizontal;
            display: inline-block;
            background-color: transparentize($white, 0.5);
            color: $text;
            letter-spacing: $l_s_big;            
        }


        &-link-outer{
            @include v_rhytm('text', $l_h);
            font-size: $font_small;
            text-transform: lowercase;
            letter-spacing: $l_s;   

            padding-left: $categories_padding_horizontal;
            padding-right: $categories_padding_horizontal;
        }            
        &-link{
            
            padding-right: $fb*1;            
            color: $white; 
            @extend %link_decor;
            @extend %link_with_icon;            
        }
        &-image{
            position: absolute;
            top: 0; right: 0;
            margin-top: 1 * $l_h;
            margin-right: 1 * $l_h;
        } 


        $hue_ratio: 30;
        $hue_steps: 360 / $hue_ratio;
        // @for $i from 1 through $hue_steps {


        //     &-#{$i} {
        //         @include pallete_colors($accent, $i * $hue_ratio );
        //     }
        // }

        @for $i from 1 through $hue_steps {


            &-#{$i} {
                // @include pallete_colors($accent, $i * $hue_ratio );
                // @include categories_hover_gradient_effect($accent, transparentize($accent, 0.5));

                $current_color: generate-pallete-color($accent, $i * $hue_ratio);

                @include categories_hover_gradient_effect( $current_color, transparentize($current_color, 0.25)

                    // generate-pallete-color($accent, $i * $hue_ratio), 
                    // transparentize(generate-pallete-color($accent, $i * $hue_ratio), 0.25)
                );

            }
        }
        

    }
}

.pallete_color{

        $hue_ratio: 30;
        $hue_steps: 360 / $hue_ratio;
        @for $i from 1 through $hue_steps {

            &-#{$i} {
                @include pallete_colors($accent, $i * $hue_ratio );
            }
        } 
}


/* 7. products
 * **********************************************************************
 *  
*/

.products-grid{

}

.product-outer{

}
.product{

    &__image{        
        display: flex;
        justify-content: center; align-items: center;
        height: 220px;
        border: 1px solid #ccc;

        img{
            width: auto; max-width: 80%; max-height: 80%;
        }
        &:hover{
            opacity: 0.85;
        }
    }
    &__content{

    }
    &__title-outer{
        // display: flex; 
        // display: inline-block;
    }
        &__title{
            @include height_leveling('heading');
            @include v_rhytm('text', $l_h);            
            font-size: $font_h4;
            font-weight: 400;
            color: $text;
            display: block;

            &:hover{
                color: $accent_dark;
            }
        }   

    &__parameters{
        &-list{
            @include height_leveling('text');            
            @include v_rhytm('text', $l_h);
            font-size: $fb;

            li{
                font-size: inherit;
                color: $grey_dark;
                
                &:before{
                    content: "";
                    margin: 0 0.5em;
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background-color: $grey_light;
                    display: inline-block; vertical-align: middle;
                }

            }
        }
    }   

    &__code{
        @include height_leveling('text');            
        @include v_rhytm('text', $l_h);        
        font-size: $font_small;
        font-size: $font_smaller;
        font-weight: 400;
        color: $text;

        &-value{
            font-weight: 300;
        }
    } 

    &__price{
        @include height_leveling('text');            
        @include v_rhytm('text', $l_h);         
        font-size: $font_h4;
        font-weight: bold;
        color: $text;
    }

    &__availability{
        @include height_leveling('text');            
        @include v_rhytm('text', $l_h);        
        font-size: $font_small;
        font-weight: 400;
        color: $text;

        &-value{
            font-weight: 500;

            &--in-stock{
                color: $accent_dark;
            }
            &--in-stock{
                
            }
            &--none{
                
            }
        }
    }
}

.product--viewed{

    .product__price-outer{
        float: left;
    }
    .product__button-outer{
        float: right;
    }
}

/* 8. news
 * **********************************************************************
 *  
*/

.news{

    &__item{

        &-image-outer{

        }
        &-image{
            img{

            }
        }

        &-content{

        }
            &-title-outer{

                @include height_leveling('heading');
                // @include height_leveling('text');
                @include v_rhytm('text', $l_h);
                font-size: $font_h3;                
                font-weight: 300;
                letter-spacing: $l_s;                
                color: $text;                 
            }            
            &-title{
                color: $text;    
            }
            &-text{
                @include v_rhytm('text', $l_h);
                font-size: $fb;
                line-height: $l_h;
            }        

        &-footer{
            display: flex;
            justify-content: space-between;
            padding: 0.5 * $l_h 0;
            border-top: 1px solid $grey_light;
        }   
            &-link-outer{
                float: left;
                font-size: $font_small;
                line-height: $l_h;
                text-transform: lowercase;
                letter-spacing: $l_s_big;
            }
            
            &-link{                
                padding-right: $fb*1;            
                color: $text;  
                @extend %link_decor;
                @extend %link_with_icon;
            }
            &-date{
                align-self : flex-end;
                float: right;
                font-size: $font_small;
                line-height: $l_h;
                color: $text; 
            }
    }

}


/* 9. about
 * **********************************************************************
 *  
*/

.about{
    
    &__image{

        img{

        }
    }
    &__content{
    }
        &__title{
            @include height_leveling('heading');
            @include v_rhytm('text', $l_h);
            margin-top: 0;
            font-size: $font_h3;
            font-weight: 300;
            letter-spacing: $l_s;            
            color: $text;
        }
        &__text{

        }    
}


/* 10. subscribe
 * **********************************************************************
 *  
*/
  
.section-subscribe{
    background-color: $accent;
    padding: 1.5 * $l_h 0;
} 

.subscribe{
    
    &__title{
        font-size: $font_h4;
        line-height: $l_h;
        font-weight: 500;
        color: $accent_dark;

        // padding-left: $l_h*1.25;
        padding-left: $fb*(3+1);
        position: relative;

        // &:before{
        //     @include pseudoelement_left_top(0, 50%);
        //     transform: translateY(-50%);
        //     width: $fb;   
        //     height: $fb;   
        //     background-color: $grey;
        // }  
        
        i.themify{        
            @include pseudoelement_left_top(0, 50%);
            transform: translateY(-50%);
            font-size: 3 * $fb;
            color: $accent_dark;
        }
    }
    &__form{


        .field-outer{
            float: left;
            padding-left: $columns_gap+px;
            padding-right: $columns_gap+px;
        }
    }
    &__social{
        
    }    
}

.form--subscribe{

    input.field-text{
        border-color: $accent_dark;
    }
}


/* 11. social-links
 * **********************************************************************
 *  
*/

.social-links{

}


/* 12. footer
 * **********************************************************************
 *  
*/

.footer{

    background-color: $grey_lighter;
}

.footer{
    // float: left;  width: 100%;
    height: 200px;
}